name: Build Android AAB

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Unzip project
      run: unzip TapHunterGame.zip -d project

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build AAB
      working-directory: project
      run: |
        chmod +x ./gradlew
        ./gradlew bundleRelease

    - name: Upload AAB
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: project/app/build/outputs/bundle/release/app-release.aab
