name: Build Signed Android AAB

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Unzip project
      run: unzip TapHunterGame.zip -d project

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Generate keystore
      run: |
        keytool -genkeypair \
        -alias ${{ secrets.KEY_ALIAS }} \
        -keyalg RSA \
        -keysize 2048 \
        -validity 10000 \
        -keystore keystore.jks \
        -storepass ${{ secrets.KEYSTORE_PASSWORD }} \
        -keypass ${{ secrets.KEY_PASSWORD }} \
        -dname "CN=TapHunter, OU=Dev, O=TapHunter, L=AR, S=AR, C=AR"

    - name: Encode keystore
      run: base64 keystore.jks > keystore.txt

    - name: Upload keystore
      uses: actions/upload-artifact@v4
      with:
        name: keystore
        path: keystore.txt

    - name: Build unsigned AAB
      working-directory: project
      run: |
        chmod +x ./gradlew
        ./gradlew bundleRelease
